header{
	width:100%;
	background-color:#f1f1f1;
}
aside{
	width:10%;
	background-color:#ffccff;
	
}
section{
	width:80%;
	float:left;

	background-color:#cce6ff;
}
footer{
	width:100%;
	background-color:#a3f5f5;
	clear:left;
}
.left{
	width:10%;
	float:left;
	
	background-color:#ffccff;
}
.right{
	width:10%;
	float:left;

	background-color:#ffccff;
}
