<div class="header">
  <h1>AFL Website</h1>
  <p>Latest AFL data and news</p>
</div>

<div class="topnav">
  <a routerLink="">Home</a>
  <a routerLink="/ladderComponent">Ladder</a>
  <a routerLink="/head2headComponent">Head to Head Games</a>
  <a class="active" routerLink="/statisticsComponent">Statistics</a>
</div>

<div id="colorred" class="search">
  <form>
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
  </form>
</div>

<!--
          <table mat-table [dataSource]= "dataSource" class="mat-elevation-z8">
            
            <ng-container matColumnDef="round">
              <th mat-header-cell *matHeaderCellDef>Round No.</th>
              <td mat-cell *matCellDef="let data">{{data.round}}</td>
            </ng-container>
            
            <ng-container matColumnDef="hteam">
              <th mat-header-cell *matHeaderCellDef>Home Team.</th>
              <td mat-cell *matCellDef="let data">{{data.hteam}}</td>
            </ng-container>
           
            <ng-container matColumnDef="ateam">
              <th mat-header-cell *matHeaderCellDef>Away Team.</th>
              <td mat-cell *matCellDef ="let data">{{data.ateam}}</td>
            </ng-container>
           
            <ng-container matColumnDef="hscore">
                <th mat-header-cell *matHeaderCellDef>Home Team Score.</th>
                <td mat-cell *matCellDef ="let data">{{data.hscore}}</td>
            </ng-container>
            <ng-container matColumnDef="ascore">
                <th mat-header-cell *matHeaderCellDef>Away Team Score.</th>
                <td mat-cell *matCellDef ="let data">{{data.ascore}}</td>
            </ng-container>
           
            <ng-container matColumnDef="hgoals">
                <th mat-header-cell *matHeaderCellDef>Home Team Score.</th>
                <td mat-cell *matCellDef ="let data">{{data.hgoals}}</td>
            </ng-container>
            <ng-container matColumnDef="agoals">
                <th mat-header-cell *matHeaderCellDef>Away Team Score.</th>
                <td mat-cell *matCellDef ="let data">{{data.agoals}}</td>
            </ng-container>
           
            <ng-container matColumnDef="hbehinds">
                <th mat-header-cell *matHeaderCellDef>Home Team Behind.</th>
                <td mat-cell *matCellDef ="let data">{{data.hbehinds}}</td>
            </ng-container>
            <ng-container matColumnDef="abehinds">
                <th mat-header-cell *matHeaderCellDef>Away Team Behind.</th>
                <td mat-cell *matCellDef ="let data">{{data.abehinds}}</td>
            </ng-container>
            <ng-container matColumnDef="winner">
              <th mat-header-cell *matHeaderCellDef>Game Winner.</th>
              <td mat-cell *matCellDef ="let data">{{data.winner}}</td>
            </ng-container>
           
            <ng-container matColumnDef="venue">
                <th mat-header-cell *matHeaderCellDef>Game Venue.</th>
                <td mat-cell *matCellDef ="let data">{{data.venue}}</td>
            </ng-container>
          
            <ng-container matColumnDef="date">
                <th mat-header-cell *matHeaderCellDef>Game Date.</th>
                <td mat-cell *matCellDef ="let data">{{data.date}}</td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef= "let row; columns: displayColumns;"></tr>

          </table>
        </form> 
    </div>
   -->

<div id="colorred" class="section">
  <table style="text-align: center;">
    <tr>
      <th>Round Number</th>
      <th>Home Team</th>
      <th>Away Team</th>
      <th>Score</th>
      <th>Goals</th>
      <th>Behinds</th>
      <th>Winner</th>
      <th>Date</th>
      <th>Venue</th>
    </tr>
    <tr *ngFor="let week of weeks">
      <td>{{week.round}}</td>
      <td>{{week.hteam}}</td>
      <td>{{week.ateam}}</td>
      <td>{{week.hscore}}-{{week.ascore}}</td>
      <td>{{week.hgoals}}--{{week.agoals}}</td>
      <td>{{week.hbehinds}}--{{week.abehinds}}</td>
      <td>{{week.winner}} </td>
      <td>{{week.date}}</td>
      <td>{{week.venue}}</td>
    </tr>
  </table>
</div>

<div class="search">
  <h1>Future Games</h1>
  <form>
    Round:<select>
      <option *ngFor="let week of weeks">{{week.round}}</option>
    </select>
    Home Team:<select>
      <option *ngFor="let team of teams">{{team.name}}</option>
    </select>
    Away Team:<select>
      <option *ngFor="let team of teams">{{team.name}}</option>
    </select>
    Venue:<select>
      <option *ngFor="let week of weeks">{{week.venue}}</option>
    </select>
  </form>
</div>

<div id="colorblue" class="section">
  <table style="text-align: center;">
    <tr>
      <th>Round Number</th>
      <th>Home Team</th>
      <th>Away Team</th>
      <th>Score</th>
      <th>Goals</th>
      <th>Behinds</th>
      <th>Winner</th>
      <th>Date</th>
      <th>Venue</th>
    </tr>
    <tr *ngFor="let nweek of nweeks">
      <td>{{nweek.round}}</td>
      <td>{{nweek.hteam}}</td>
      <td>{{nweek.ateam}}</td>
      <td>{{nweek.hscore}}-{{nweek.ascore}}</td>
      <td>{{nweek.hgoals}}--{{nweek.agoals}}</td>
      <td>{{nweek.hbehinds}}--{{nweek.abehinds}}</td>
      <td> N/A </td>
      <td>{{nweek.date}}</td>
      <td>{{nweek.venue}}</td>
    </tr>
  </table>
</div>