select {
    width: fit-content;
    padding: 5px;
    border: none;
    border-radius: 4px;
    background-color: #f1f1f1;
    margin-left: 10px;
  }
  table {
    width: 100%;
  }
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }

.search {
  margin-top: 20px;
  padding: 16px 20px;
  border-radius: 4px;
  background-color: white;
  text-align: center;
}