<div class="header">
  <h1>AFL Website</h1>
  <p>Latest AFL data and news</p>
</div>

<div class="topnav">
  <a class="active" routerLink="">Home</a>
  <a routerLink="/ladderComponent">Ladder</a>
  <a routerLink="/head2headComponent">Head to Head Games</a>
  <a routerLink="/statisticsComponent">Statistics</a>
</div>

<div class="leftColumn">
  <div class="search">
    <h1>Team Selection</h1>
    <form>
      <select id="team" name="team">
        <option *ngFor="let team of teams">{{team.name}}</option>
      </select>
    </form>
  </div>

  <div class="section">
    <h1>Next Round</h1>
    <table style="text-align: center;">
      <tr>
        <th>Round Number</th>
        <th>Home Team</th>
        <th>Away Team</th>
        <!---<th>Score</th><th>Goals</th><th>Behinds</th><th>Winner</th>-->
        <th>Date</th>
        <th>Venue</th>
      </tr>
      <tr *ngFor="let week of weeks">
        <td>{{week.round}}</td>
        <td>{{week.hteam}}</td>
        <td>{{week.ateam}}</td>
        <td>{{week.date}}</td>
        <td>{{week.venue}}</td>
      </tr>
    </table>
    <h1>Winning Odds</h1>
    <table style="text-align: center;">
      <tr>
        <th>Home Team</th>
        <th>Away Team</th>
        <th>Round</th>
        <th>Odds</th>
        <th>Game Margin</th>
      </tr>
      <tr *ngFor="let tip of tips">
        <td>{{tips.hteam}}</td>
        <td>{{tips.ateam}}</td>
        <td>{{tips.round}}</td>
        <td>{{tips.hconfidence}}</td>
        <td>{{tips.margin}}</td>
      </tr>
    </table>
  </div>
</div>

<div class="rightColumn">
  <div class="rss">
    <iframe
      src="https://www.rssdog.com/index.php?url=http%3A%2F%2Ffeeds.feedburner.com%2Faflcomau.rss&mode=html&showonly=&maxitems=0&showdescs=1&desctrim=0&descmax=0&tabwidth=100%25&linktarget=_blank&textsize=inherit&bordercol=%23d4d0c8&headbgcol=%230186A0&headtxtcol=%23ffffff&titlebgcol=%23f1eded&titletxtcol=%23000000&itembgcol=%23ffffff&itemtxtcol=%23000000&ctl=0"></iframe>
  </div>
</div>