/* ----- search ----- */
select {
  width: 40%;
  padding: 16px 20px;
  border: none;
  border-radius: 4px;
  background-color: #f1f1f1;
  margin-left: 10px;
}

.search {
    margin-top: 20px;
    padding: 16px 20px;
    border-radius: 4px;
    background-color: white;
    text-align: center;
}

iframe {
    border: none;
    height: 742px;
    width: 100%; 
    float: center;
}

.rss {
    width: 100%;
    background-color: white;
    padding-top: 10px;
    height: 100%;
}

.leftColumn {   
    float: left;
    width: 70%;
}
  
  /* Right column */
.rightColumn {
    margin-top: 20px;
    float: left;
    width: 30%;
    padding-left: 20px;
}

* {
    box-sizing: border-box;
}
