/* You can add global styles to this file, and also import other style files */

body {
    background-color: #E3E3E3;
    font-family: Arial;
  }

.active {
	background-color: blue;
}

.header {
    padding-top:10px;
    height:200px;
    width: 100%;
    text-align: center;
    background: #D56C2C;
    color: white;
    position: relative;
}

.header h1 {
    font-size: 50px;
    color: white;
}

.section {
	background-color: white;
	padding: 20px;
	margin-top: 20px;
}

.sticky {
    position:fixed;
    top: 50px;
}

/* ----- Table ----- */
table {
	border-collapse: collapse;
    width: 100%
}

th,td {
	text-align: left;
    padding: 8px;
}

tr:hover {
    background-color: #f5f5f5;
}

th {
	background-color: #0186a0;
	color: white;
}

/* ----- Top Nav ----- */
.topnav {
    position: fixed;
    top:0px;
    width:100%;
    overflow: hidden;
    background-color: #22223A;
    position:fixed;
}

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}
body { margin: 0; }
