select {
    width: fit-content;
    padding: 8px ;
    border: none;
    border-radius: 4px;
    background-color: #f1f1f1;
    margin-left: 10px;
    margin-right: 10px;
  }
  
  .search {
      margin-top: 20px;
      padding: 16px 20px;
      border-radius: 4px;
      background-color: white;
      text-align: center;
  }

