<div class="header">
  <h1>AFL Website</h1>
  <p>Latest AFL data and news</p>
</div>

<div class="topnav">
  <a routerLink="">Home</a>
  <a routerLink="/ladderComponent">Ladder</a>
  <a class="active" routerLink="/head2headComponent">Head to Head Games</a>
  <a routerLink="/statisticsComponent">Statistics</a>
</div>

<div class="search">
  <h1>Head to Head Games</h1>
  <form>
    Filters Year:<select>
      <option *ngFor="let week of weeks">{{week.date}}</option>
    </select>
    <!--Needs to have a drop menu, needs to only show the years instead of the date-->
    Round:<select>
      <option *ngFor="let week of weeks">{{week.round}}</option>
    </select>
    <!--Needs to have a drop menu containing all of the rounds-->
    Home Team:<select>
      <option *ngFor="let team of teams">{{team.name}}</option>
    </select>
    Away Team:<select>
      <option *ngFor="let team of teams">{{team.name}}</option>
    </select>
  </form>
</div>

<div class="section">
  <table style="text-align: center;">
    <tr>
      <th>Round Number</th>
      <th>Home Team</th>
      <th>Away Team</th>
      <!---<th>Score</th><th>Goals</th><th>Behinds</th><th>Winner</th>-->
      <th>Date</th>
      <th>Venue</th>
    </tr>
    <tr *ngFor="let week of weeks">
      <td>{{week.round}}</td>
      <td>{{week.hteam}}</td>
      <td>{{week.ateam}}</td>
      <!-- <td>{{week.hscore}}-{{week.ascore}}</td>
      <td>{{week.hgoals}}--{{week.agoals}}</td>
      <td>{{week.hbehinds}}--{{week.abehinds}}</td> 
      <td>{{week.winner}}</td>-->
      <td>{{week.date}}</td>
      <td>{{week.venue}}</td>
    </tr>
  </table>
</div>