<div class="header">
  <h1>AFL Website</h1>
  <p>Latest AFL data and news</p>
</div>

<div class="topnav">
  <a routerLink="">Home</a>
  <a class="active" routerLink="/ladderComponent">Ladder</a>
  <a routerLink="/head2headComponent">Head to Head Games</a>
  <a routerLink="/statisticsComponent">Statistics</a>
</div>

<div class="section">
  <h1 style="text-align:center">Ladder</h1>
  <table id="ladderTb">
    <tr>
      <th>Rank</th>
      <th>Team</th>
      <th>Round</th>
      <th>Year</th>
      <th>Wins</th>
      <th>Average Rank</th>
    <tr *ngFor="let myVar of myVars">
      <td>{{myVar.round}}</td>
    </tr>
  </table>
  <table id="ladderTb">
    <tr>
      <th>Rank</th>
      <th>Team</th>
      <th>Round</th>
      <th>Year</th>
      <th>Wins</th>
      <th>Average Rank</th>
    <tr *ngFor="let myVar2 of myVar2s">
      <td>{{myVar2.round}}</td>
    </tr>
  </table>
  <table id="ladderTb">
    <tr>
      <th>Rank</th>
      <th>Team</th>
      <th>Round</th>
      <th>Year</th>
      <th>Wins</th>
      <th>Average Rank</th>
    <tr *ngFor="let myVar3 of myVar3s">
      <td>{{myVar3.round}}</td>
    </tr>
  </table>
  <table id="ladderTb">
    <tr>
      <th>Rank</th>
      <th>Team</th>
      <th>Round</th>
      <th>Year</th>
      <th>Wins</th>
      <th>Average Rank</th>
    <tr *ngFor="let myVar4 of myVar4s">
      <td>{{myVar4.round}}</td>
    </tr>
  </table>
  <table matSort (matSortChange)="sortData($event)">
    <tr>
      <th mat-sort-header="rank">Rank</th>
      <th mat-sort-header="team">Team</th>
      <th>Round</th>
      <th>Year</th>
      <th>Wins</th>
      <th>Average Rank</th>
    <tr *ngFor="let chadbonk of chadbonks">
      <td>{{chadbonk.rank}}</td>
      <td>{{chadbonk.team}}</td>
      <td>{{chadbonk.round}}</td>
      <td>{{chadbonk.year}}</td>
      <td>{{chadbonk.wins}}</td>
      <td>{{chadbonk.mean_rank}}</td>
    </tr>
  </table>
  <table id="ladderTb">
    <tr>
      <th>Rank</th>
      <th>Team</th>
      <th>Round</th>
      <th>Year</th>
      <th>Wins</th>
      <th>Average Rank</th>
    <tr *ngFor="let chadbonk2 of chadbonk2s">
      <td>{{chadbonk2.rank}}</td>
      <td>{{chadbonk2.team}}</td>
      <td>{{chadbonk2.round}}</td>
      <td>{{chadbonk2.year}}</td>
      <td>{{chadbonk2.wins}}</td>
      <td>{{chadbonk2.mean_rank}}</td>
    </tr>
  </table>
  <table id="ladderTb">
    <tr>
      <th>Rank</th>
      <th>Team</th>
      <th>Round</th>
      <th>Year</th>
      <th>Wins</th>
      <th>Average Rank</th>
    <tr *ngFor="let chadbonk3 of chadbonk3s">
      <td>{{chadbonk3.rank}}</td>
      <td>{{chadbonk3.team}}</td>
      <td>{{chadbonk3.round}}</td>
      <td>{{chadbonk3.year}}</td>
      <td>{{chadbonk3.wins}}</td>
      <td>{{chadbonk3.mean_rank}}</td>
    </tr>
  </table>
  <table id="ladderTb">
    <tr>
      <th>Rank</th>
      <th>Team</th>
      <th>Round</th>
      <th>Year</th>
      <th>Wins</th>
      <th>Average Rank</th>
    <tr *ngFor="let chadbonk4 of chadbonk4s">
      <td>{{chadbonk4.rank}}</td>
      <td>{{chadbonk4.team}}</td>
      <td>{{chadbonk4.round}}</td>
      <td>{{chadbonk4.year}}</td>
      <td>{{chadbonk4.wins}}</td>
      <td>{{chadbonk4.mean_rank}}</td>
    </tr>
  </table>
  <table id="ladderTb">
    <tr>
      <th>Rank</th>
      <th>Team</th>
      <th>Round</th>
      <th>Year</th>
      <th>Wins</th>
      <th>Average Rank</th>
    <tr *ngFor="let chadbonk5 of chadbonk5s">
      <td>{{chadbonk5.rank}}</td>
      <td>{{chadbonk5.team}}</td>
      <td>{{chadbonk5.round}}</td>
      <td>{{chadbonk5.year}}</td>
      <td>{{chadbonk5.wins}}</td>
      <td>{{chadbonk5.mean_rank}}</td>
    </tr>
  </table>
  <table id="ladderTb">
    <tr>
      <th>Rank</th>
      <th>Team</th>
      <th>Round</th>
      <th>Year</th>
      <th>Wins</th>
      <th>Average Rank</th>
    <tr *ngFor="let chadbonk6 of chadbonk6s">
      <td>{{chadbonk6.rank}}</td>
      <td>{{chadbonk6.team}}</td>
      <td>{{chadbonk6.round}}</td>
      <td>{{chadbonk6.year}}</td>
      <td>{{chadbonk6.wins}}</td>
      <td>{{chadbonk6.mean_rank}}</td>
    </tr>
  </table>
</div>